# Download routing. Set all four to /esp subdirectories if preferred.
NOOB_ESP_DIR=/esp
NOOB_IMG_DIR=/img
NOOB_VM_DIR=/vm
NOOB_AUDIO_DIR=/audio
IRIS_USB_HOST=192.168.77.1
IRIS_USB_PORT=4242
IRIS_USB_TIMEOUT_S=20
NOOB_FILE_CHUNK=512
NOOB_FILE_MAX_BYTES=67108864
NOOB_AUDIO_DEVICE=plughw:CARD=PCM5102A,DEV=0
